{% extends "index.html" %}
{% load static %}
{% block content %}

{% if genres %}
    <h2>Datos Registrados</h2>
    <ul>
        <b>Géneros:</b>
        <ul>
            <li>{{ genres }}</li>
        </ul>
        <b>Álbumes:</b>
        <ul>
            <li>{{ albums }}</li>
        </ul>
        <b>Usuarios:</b>
        <ul>
            <li>{{ users }}</li>
        </ul>
        <b>Puntuaciones:</b>
        <ul>
            <li>{{ scores }}</li>
        </ul>
    </ul>
    {% else %}
    <h3 style="text-align: center;"><b>¿Quiere realizar la carga de datos?</b> El proceso puede tardar varios minutos</h2>
    <div class="buttons" style="display: flex; justify-content: center; gap: 20px;" >
        <form action="/populate/" method="post">
            {% csrf_token %}
            <input type="submit" value="Sí" class="btn btn-outline-success">
        </form>
        <form action="/">
            <input type="submit" value="No" class="btn btn-outline-danger">
        </form>
    </div>
{% endif %}

{% endblock %}

